.linkout {
    position: fixed;
    top: 55%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    padding: 0 14px;
    background-color: white;
}
.linkout p {
    margin-block: 30px;
}
.linkout p .icon:hover {
    transform: translate(0px, -5px);
    stroke: $blue !important;
}
.ligne {
    border: 1px solid $dark;
    margin-inline: 17px;
    height: 100px;
}