.linkemail {
    position: fixed;
    top: 55%;
    right: 1%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px rgba(90, 88, 88, 0.385);
    padding: 0 14px;
    border-radius: 20px;
}
.linkemail p {
    margin-block: 30px;
}
.linkemail p .icon:hover {
    transform: translate(0px, -5px);
    color: $blue !important;
}