@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    text-align: center;
    color: $dark;
    scroll-behavior: smooth;
}
.icon {
    border: red;
    cursor: pointer;
    transition: 0.2s;
}
.btn {
    cursor: pointer;
    border: none;
}
.sous-title {
    font-size: $lg;
    letter-spacing: 3px;
    text-align: right;
    margin-right: 16%;
    padding-right: 2%;
    border-right: 5px solid $blue;
}